<!DOCTYPE html>
<html lang="en" class="h-100">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
    <link rel="stylesheet" href="../public/stylesheets/kittens.css">
    <link rel="stylesheet" href="../public/stylesheets/logout.css">

    <title>Котятки</title>
</head>

<body class="d-flex flex-column h-100">
<header class="site-header sticky-top bg-dark text-white">
    <nav class="navbar navbar-expand-md navbar-light shadow">
        <div class="container-md py-2">
            <a class="navbar-brand fs-4 fw-bolder text-secondary" href="/">
                <img class="pb-1" src="../public/images/logo.svg" width="30" alt=""> KittensStorage
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarToggler"
                    aria-controls="navbarToggler" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarToggler">
                <ul class="navbar-nav me-auto">
                    <li class="nav-item active">
                        <a class="nav-link text-secondary" aria-current="page" href="/kittens">Мои котики</a>
                    </li>
                </ul>

                <div class="text-end">
                    <a class="btn btn-dark btn-outline-light px-0 col px-2" href="kittens/new">
                        Создать котика
                    </a>
                    <a class="btn btn-warning" href="/logout">
                        Выйти
                    </a>
                </div>
            </div>
        </div>
    </nav>
</header>

<main>
    <section class="position-relative overflow-hidden container-md">
        <% if (!kittens) { %>
            <h1 class="py-3 text-center">У тебя пока нет котиков :(</h1>
        <% } else { %>
            <h1 class="py-3 text-center">Твои котятки</h1>
        <% } %>
    </section>

    <section class="position-relative overflow-hidden container">
        <% if (kittens) { %>
            <div class="row row-cols-1">
                <% for (let i = 0; i < kittens.length; i++) {
                    const kitten = kittens[i];

                    const kittenId = kitten.id;
                    const title = kitten.title;
                    const creationDate = kitten.creationDate;
                    const expirationDate = kitten.expirationDate;
                    const description = kitten.description;
                %>
                <div class="col mb-4">
                    <div class="card">
                        <div class="card-header d-flex justify-content-between align-items-center">
                            <h5 class="m-0"><%- title %></h5>
                        </div>
                        <div class="card-body">
                            <p class="card-text text-left "><%- description %></p>
                            <div class="btn-group mb-3">
                                <form action="/kittens/update" method="get">
                                    <input type="hidden" name="kittenId" value="<%- kittenId %>">
                                    <button type="submit" class="btn btn-sm btn-outline-warning">Изменить</button>
                                </form>
                                <form action="/kittens/delete" method="post" class="mx-3">
                                    <input type="hidden" name="kittenId" value="<%- kittenId %>">
                                    <button name="" type="submit" class="btn btn-sm btn-outline-danger delete">Удалить</button>
                                </form>
                            </div>
                        </div>
                        <div class="card-footer text-muted">
                            <div class="d-flex justify-content-end align-items-center">
<!--                                <p class="m-0">c <%- creationDate %></p>-->
                                <p class="m-0">родился <%- expirationDate %></p>
                            </div>
                        </div>
                    </div>
                </div>
                <% } %>
            </div>
        <% } %>
    </section>
</main>

<footer class="footer mt-auto py-3 ">
    <div class="container d-flex justify-content-center ">
        <span class="text-muted ">&copy; Copyright 2021<br>Uladzislau Petravets</span>
    </div>
</footer>

<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.6.0/dist/umd/popper.min.js"
        integrity="sha384-KsvD1yqQ1/1+IA7gi3P0tyJcT3vR+NdBTt13hSJ2lnve8agRGXTTyNaBYmCR/Nwi"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.min.js"
        integrity="sha384-nsg8ua9HAw1y0W1btsyWgBklPnCUAFLuTMS2G72MMONqmOymq585AcH49TLBQObG"
        crossorigin="anonymous"></script>
</body>

</html>
